body{
    background-image: linear-gradient(#3d7deb88, #ffffff);
}
#login{
    max-width: 700px;
    margin: 20px auto; /*margin auto para centralizar*/
    padding: 0, 20px;
}
#login h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-top: 10px;
    color: #1C396B;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login form input {
    width: 500px;
    font-size: 13px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}
#login form strong{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}
#login a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #1C396B;
    margin-top: 10px;
}
.actions{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.actions button{
    height: 30px;
    width: 80px;
    border: none;
    border: 2px, solid, #da552f;
    background: none;
    margin-top: 10px;
    color: #1C396B;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}